<!-- <div>
  <a>Current user: {{ currentUser.username }}</a>
  <a>{{ user.username }}</a>
  <a>{{ user.firstName }} {{ user.lastName }}</a>
  <a>{{ user.email }}</a>
  <button
    *ngIf="user.username != currentUser.username"
    type="button"
    class="btn btn-success"
  >
    Add friend
  </button>
</div> -->

<div class="card row" style="width: 10rem;">
  <img class="card-img-top" src="{{ avatar(128) }}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <!-- <p class="card-text">
        About user
      </p> -->

    <!-- Friend status:
        0 no relation
        1 request sent
        2 request received
        3 friends
       -->
    <div *ngIf="user.username != currentUser.username; else elsebutton">
      <div *ngIf="friend.status == 0; else requestSent">
        <button (click)="sendFriendRequest(user)" class="btn btn-primary">
          Send request
        </button>
      </div>
      <ng-template #requestSent>
        <div *ngIf="friend.status == 1; else requestReceived">
          <button
            (click)="cancelFriendRequest(friend.token)"
            class="btn btn-danger"
          >
            Cancel request
          </button>
        </div>
        <ng-template #requestReceived>
          <div *ngIf="friend.status == 2; else friends">
            <button
              (click)="acceptFriendRequest(friend.token)"
              class="btn btn-success"
            >
              Accept request
            </button>
          </div>
          <ng-template #friends><p>User is your friend</p> </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <ng-template #elsebutton>
      logged in
    </ng-template>
  </div>
</div>
<!--  -->
